- title "Tests executor info"

%h1.page-header= yield(:title)

.row
  .col-md-12
    %dl.dl-horizontal
      %dt Title
      %dd= @tests_executor.title

.row
  .col-md-12
    = link_to 'Edit tests executor', edit_tests_executor_path(@tests_executor), class: "btn btn-primary"