.nav.nav-pills.nav-stacked
  - @enviroments.each do |e|
    - if e.title == @enviroment.title
      %li.active= link_to e.title.humanize, path_to_enviroment(e, page), {role: "presentation"} 
    - else
      %li= link_to e.title.humanize, path_to_enviroment(e, page), {role: "presentation"}
      
= include_gon