#modal_existing_build_job.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "build_job_exists_modal_label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title This build is already exists
      .modal-body
        = "It appears lipe there is no new commits in this branch and there is already build job. Show this build or start a new one anyway?"
      .modal-footer
        %button.btn.btn-success{:type => "button", :id => "button_start_anyway"} Start anyway
        %a{:href => "#"}
          %button.btn.btn-primary{:type => "button", :id => "button_show_existing"} Show existing build
        %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Cancel
        