- title "List build jobs"
  
/%h1.page-header= yield(:title)

.row
  .col-md-12
    = render partial: 'main_menu'

.row
  .col-md-2
    = render partial: 'enviroments_menu', locals: {page: :enviroment_build_jobs}
  .col-md-10
    %h3= yield(:title)

.row
  .col-md-12.col-lg-12
    = render partial: 'list_jobs'

