- title "My profile"
  
%h1.page-header= yield(:title)

.row
  .col-md-12
    = render partial: 'form_profile', locals: {delete_disabled: true}
    = tag :br
    = link_to 'Edit account', edit_user_registration_path, :class => "btn btn-warning"
