logging:
    file: /home/o.antonyan/Desktop/worker.log
    level: debug

repository:
    path: /home/o.antonyan/Documents/mt3/playground
    
artefact:
    path: /home/o.antonyan/Desktop/
    
communication:
    bind_to: 0.0.0.0:5001
    
build:
    custom_script: /home/o.antonyan/Documents/AptanaStudio3Workspace/fbbs2/worker/custom_script_example.py
    platforms:
      - android-qt4-arm
      - android-qt5-arm
      - android-qt5-x86
    tests_support: false 
    
