logging:
    file: /home/flysnake/Desktop/fbbs2_worker.log
    level: debug
    
repository:
    path: /home/flysnake/Desktop/fbbs2_worker_repo
    
artefact:
    path: /home/flysnake/Desktop/fbbs2_worker_artefacts
    
communication:
    bind_to: 0.0.0.0:5001
    buildnum_service: localhost:12345
    