logging:
    file: /home/o.antonyan/Desktop/worker.log
    level: debug

repository:
    path: /home/o.antonyan/Documents/mt3/playground
    
artefact:
    path: /home/o.antonyan/Desktop/
    
communication:
    bind_to: 0.0.0.0:5001
    
build:
    custom_script: /home/o.antonyan/Documents/AptanaStudio3Workspace/fbbs2/worker/custom_script_example.py
    platforms:
      - android-arm-qt4
      - android-arm-qt5
      - android-x86-qt5
    