#!/bin/bash
#
### BEGIN INIT INFO
# Provides: fbbs2_worker_example
# Required-Start: networking
# Should-Start:
# Required-Stop:
# Should-Stop:
# Default-Start: 2 3 4 5
# Default-Stop:   0 1 6
# Description: Feature Branches Build Server - Worker Daemon - Example
### END INIT INFO

CONFIGFILE=/home/builder/fbbs2_config/example.yml
USERNAME=builder
DAEMON_CONTROL_FILE=/opt/fbbs2/worker/daemon_control.sh

su - $USERNAME -c "$DAEMON_CONTROL_FILE $1 $CONFIGFILE"

exit $1