#!/bin/bash
#
### BEGIN INIT INFO
# Provides: fbbs2_worker
# Required-Start: networking
# Should-Start:
# Required-Stop:
# Should-Stop:
# Default-Start: 2 3 4 5
# Default-Stop:   0 1 6
# Description: Feature Branches Build Server - Worker daemon
### END INIT INFO

CONFIGFILE=/home/builder/fbbs2/worker/config.yml

su - builder -c "/opt/fbbs2/worker/daemon_control.sh $1 $CONFIGFILE"