# use mailcatcher gem
default: &default
  address: localhost
  port: 1025
  sender: buildserver@localhost

development:
  <<: *default
  host_for_url: localhost
  port_for_url: 3000

test:
  <<: *default

production:
  address: smtp.example.com
  port: 25
  authentication: plain
  user_name: user
  password: pass
  sender: buildserver@example.com
  host_for_url: example.com
